pipeline/piplene_emr_src_to_landing_fldr.json
{
	"name": "piplene_emr_src_to_landing_fldr",
	"properties": {
		"activities": [
			{
				"name": "lkp_EMR_configs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "generic_adls_flat_file_dataset",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "load_config.csv",
							"file_path": "emr",
							"container": "configs"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_EMR_configs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_EMR_configs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "fileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "generic_adls_parquet_dataset",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@split(item().tablename, '.')[1]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "fileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"annotations": []
	}
}